<div class="field mb-3 users-shared">
  <% if Flipper.enabled?(:sso_integration) %>
    <div class="text-center">
      <p class="users-shared-row mt-3"><%= t("groups.use_alternative") %></p>
      <a href="/users/saml/sign_in" class="anchor-text users-shared-row">
        <%= t("users.shared.login_with_sso") %>
      </a>
    </div>
  <% end %>
  <div class="text-center mt-3">
    <% if @devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to t("users.shared.resend_email"), new_confirmation_path(@resource_name), class: "anchor-text" %>
    <% end %>
  </div>
</div>
